# Python 
__pycache__/
*.py[cod]
*$py.class
venv/
test_env/
.env
build/
dist/
*.egg-info/
PKG-INFO
SOURCES.txt

# React 
**/node_modules/
**/build/
.eslintcache
npm-debug.log*

# OS/IDE 
.DS_Store
.vscode/
.idea/

/test_api.py